<div class="page_title">
  <div class="base_inner">
    <h2>業界・職種の一覧</h2>
  </div>
</div>
<div class="smartphone">
 <%= image_tag "smartphone.jpg" %>
</div>

<div class="title_container">
<div class="left_container">
<ul>
<li class="toc-page">金融業界</li>
<li class="toc-page">建設・不動産業界</li>
<li class="toc-page">運輸・物流業界</li>
<li class="toc-page">流通・小売業界</li>
<li class="toc-page">IT業界</li>
<li class="toc-page">マスコミ・メディア・広告業界</li>
<li class="toc-page">エネルギー・資源業界</li>
</ul>
</div>

<div class="right_container">
<ul>
<li class="toc-page">自動車・機械業界</li>
<li class="toc-page">電気・精密機器業界</li>
<li class="toc-page">食品・飲食業界</li>
<li class="toc-page">生活用品業界</li>
<li class="toc-page">サービス業界</li>
<li class="toc-page">エンタメ業界</li>
</ul>
</div>
</div>

<div class="btn-contents">
   <%=link_to 'もどる', root_path, class:"back-btn" %>
 </div>