.form-wrap2{
  width: 50%;
  background-color: white;
  padding-bottom: 70px;
  height: 100vh;
}
.login-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.login-red-btn {
  width: 100%;
  background: dimgray;
  border: 1px solid dimgray;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

.login-flash-message {
  text-align: center;
  color: dimgray;
}